section {
    position: relative;
    height: 1000px;
    padding: 1rem;
}

section > a {
    position: absolute;
    padding: 1rem;
    bottom: 0;
    right: 0;
}

.col-section {
    padding: 1rem;
}

@media (max-width: 575.98px) {
    .col-section {
        padding-bottom: 0rem;
    }
}